.header
   img(src="https://firebasestorage.googleapis.com/v0/b/renouveler-design.appspot.com/o/assets%2FRenouveler-brand.png?alt=media&token=595e2fe5-7651-46be-9915-fcef74b64637" alt="")
   h3='Renouveler Design' 