style.
    *{
        margin: 0;
        padding:0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
        word-break: break-all;
    }
    .header, .footer{
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #5A5A5A;
    }

    .header img{
        width:12vh;
        height: 12vh;
        margin-top: 1.5vh;
        margin-left: 37.5vw;
    }

    .header h3{
        font-weight: normal;
        color: rgba(255,255,255,0.95);
        margin-top: 5vh;
    }

    .footer p, .footer h4{
        margin-top: 1px;
        color: white;
        font-size: 14px;
    }
    .footer *{
        margin-left: 8.5vw;
    }
    .footer h4{
        font-size: 16px;
        font-weight: 550;
    }

    .form{
        display:grid;
        justify-content: center;
        align-items: center;
        padding: 10vh;
    }

    .form .information{
        width: 50vw;
        background: whitesmoke;
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.9);
        padding: 5vh;
    }

    .form .information h3{
        color: #444;
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form .information hr{
        margin-bottom: 5px;
    }

    .form .information .form-item{
        display: flex;
        margin: 2px auto 2px auto;
        justify-content: left;
        align-items: left;
        word-break: break-all;
    }

    .form .information .form-item.message{
        display: grid;
    }

    .form .information .form-item label{
        display: flex;
        font-weight: 600;
        margin-right: 5px;
    }

    .greetings{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 15vh;
    }

    .greetings h3{
        font-weight: 600;

    }