extends base

block content
    .greetings
        h3=`Obrigado, ${client.name.split(' ')[0]}!!`
        p=`Suas informações foram enviadas para nossa equipe, e estaremos entrando em contato o mais breve possível.`